:root {
    --base: #E9E9E9;
    --black: #1F1515;
    --gradient: linear-gradient(0deg, rgb(255 255 255 / 70%) 0%, rgb(238 238 238 / 70%) 100%);

}

@font-face {
    font-family: Sora;
    src: url('./fonts/Sora.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Sora;
    font-weight: 400;
    background: var(--base);
}

a {
    color: initial;
    text-decoration: none;
}

.Flex {
    display: flex;
}

.FY-center {
    align-items: center;
}

.F-space-between {
    justify-content: space-between;
}

.F-center {
    align-items: center;
    justify-content: center;
}

nav {
    top: 2rem;
    left: 50%;
    width: 90%;
    position: fixed;
    max-width: 1800px;
    transform: translateX(-50%);
    background: var(--gradient);
    padding: .4rem .5rem;
    border-radius: 40px;
    box-shadow: inset 0 0 0 1px white;
}

nav .links a {
    font-weight: 300;
    margin: 0 1rem;
    font-size: .8rem;
    color: var(--black);
    text-transform: uppercase;
}

nav .action {
    padding: .4rem;
    border-radius: 416px;
    background: #E9E9E9;
}

.cart {
    border: none;
    height: 56px;
    padding: 0 1rem;
    margin-right: .2rem;
    border-radius: 416px;
    text-transform: uppercase;
    background: var(--gradient);
    box-shadow: inset 0 0 0 1px white;
}

.cart-text {
    margin: 0 .7rem;
    font-weight: 500;
}

.cart .count {
    width: 21px;
    height: 21px;
    aspect-ratio: 1/1;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    background: linear-gradient(180deg, #181818 0%, #7E7E7E 100%);
}

.menu {
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background: var(--gradient);
    box-sizing: inset 0 0 0 1px white;
    border: solid 1px white;
}

.logo {
    margin-left: 1rem;
}

.action {
    background: #fff;
    border-radius: 25px;
}

main {
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}

main button {
    z-index: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .8rem;
    position: relative;
    text-transform: uppercase;
    background: var(--base);
    padding: .9rem 2.4rem;
    background: linear-gradient(var(--base), var(--base)) padding-box,
                linear-gradient(180deg, #E2E2E2 0%, #CDCDCD 100%) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
}

main h1 {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.images {
    width: 100%;
    display: flex;
}

.images img {
    width: 100%;
    border: solid 2px #fff;
}
