:root {
    --base: #E9E9E9;
    --gradient: linear-gradient(0deg, rgb(255 255 255 / 70%) 0%, rgb(238 238 238 / 70%) 100%);

}

body {
    margin: 0;
    padding: 0;
    background: var(--base);
}

a {
    color: initial;
    text-decoration: none;
}

.Flex {
    display: flex;
}

.FY-center {
    align-items: center;
}

.F-space-between {
    justify-content: space-between;
}

.F-center {
    align-items: center;
    justify-content: center;
}

nav {
    top: 2rem;
    left: 50%;
    width: 100%;
    position: fixed;
    max-width: 1800px;
    transform: translateX(-50%);
    background: var(--gradient);
    box-shadow: inset 0 0 0 1px white;
}

.cart {
    border: none;
    background: var(--gradient);
    box-shadow: inset 0 0 0 1px white;
}

.menu {
    border: none;
    background: var(--gradient);
    box-sizing: inset 0 0 0 1px white;
}

main {
    margin-top: 10rem;
}

.images {
    width: 100%;
    display: flex;
}

.images img {
    width: 100%;
    border: solid 2px #fff;
}